#centered-element {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#footer {
    margin-top: 50px;
    color: white;
    background-color: black;
}
